<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <div id="app">
        <input type="text" v-model="textDigitado">
        <br>

    <div v-if="textDigitado == 1">
        <img :src="srcImg" v-bind:title="titleImg" width="100px" />

    </div>
    <div v-else-if="textDigitado == 2">
        <img v-bind:title="titleImg" width="100px" />

    </div>
    <div v-else>
        <img :src="srcImg" v-bind:title="titleImg"  width="100px" />

    </div>

        </div>
       
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
            textDigitado:'',
        srcImg: 'vueLogo.jpg',
        titleImg: 'logo VUE',

        }
      });
    </script>
  </body>
</html>
